/* LocalizacaoOutra.css */
.localizacao-outra-container {
    font-family: 'Arial, sans-serif';
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images/home_background1.jpg');
    background-size: cover;
    background-position: center;
    height: 94.5vh;
  }
  
  .localizacao-input {
    width: 80%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }